.timer-container {
  padding: 10px 0px !important;
  // background-color: var(--dark-bg);
  color: var(--yellow);
  font-weight: bold;
  font-size: 30px;
}

.timer-container2 {
  padding: 25px !important;
  background-color: var(--white);
  color: var(--yellow);
  font-weight: bold;
  font-size: 30px;
}
