.normal_button {
  color: var(--white);
  padding: 10px 50px !important;
  background-color: var(--dark-bg);
  border: none;
  font-weight: bold;
  font-size: 24px !important;
  &:hover,
  &:focus {
    color: var(--yellow);
    cursor: pointer;
  }
  &[disabled] {
    background-color: var(--disabled-grey);
    &:hover,
    &:focus {
      color: var(--white);
      cursor: default;
    }
  }
  &.secondary {
    color: var(--white);
    padding: 10px 50px !important;
    background-color: var(--yellow);
    border: none;
    font-weight: bold;
    font-size: 24px !important;
    &:hover,
    &:focus {
      background-color: var(--dark-bg);
      color: var(--white);
      cursor: pointer;
    }
    &[disabled] {
      background-color: var(--disabled-grey);
    }
  }
}

