// #navbar {
//   height: auto;
.navbar {
  background: var(--dark-bg);
  padding-left: 50px;
  padding-right: 50px;
  height: 80px;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-header) !important;
  color: white;
  @media screen and (max-width: 500px) {
    padding: 10px 1px !important;
  }

  .logo {
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    .nav-links {
      margin: 0 1rem !important;
      cursor: pointer;
      min-width: fit-content;
      a {
        color: var(--white);
        font-size: var(--fs-l);
        text-decoration: none;
        &:hover,
        &:focus {
          color: var(--disabled-grey);
        }
      }
    }
  }
  .smallscreen {
    display: none;
    svg {
      cursor: pointer;
    }
    .smallscreen_overlay {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      margin: 0;
      background-color: var(--dark-bg);
      transition: 0.5s ease;
      flex-direction: column;
      z-index: 9999;
      .overlay__close {
        font-size: 27px;
        color: var(--disabled-grey);
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        &:hover {
          font-size: 32px;
        }
      }
      .smallscreen-links {
        list-style: none;
        .nav-links {
          margin-left: 30px;
          margin-top: 20px;
          cursor: pointer;
          color: var(--white);
          text-align: left;
          a {
            color: var(--disabled-grey);
            font-size: 2rem;
            text-decoration: none;
          }
        }
      }
      animation-name: nav-menuAnimation;
      animation-duration: 200ms;
      animation-fill-mode: forwards;
      @keyframes nav-menuAnimation {
        0% {
          right: -100%;
        }
        100% {
          right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .navbar {
    .links {
      display: none;
    }
    .smallscreen {
      display: flex;
    }
  }
}
@media screen and (max-width: 650px) {
  .navbar {
    padding: 1rem;
  }
}
// }
