.counter-div {
  background-color: var(--yellow);
  width: fit-content;
  height: 50px;
  margin: 10px 0 !important;

  input {
    border: none;
    outline-style: none;
    background-color: var(--yellow);
    padding-left: 15px;
    width: 70px;
    border-radius: 0;
    text-align: center;
    font-size: 2rem;
    height: 100%;
    color: var(--white);
  }
  button {
    cursor: pointer;
    border: transparent;
    background: transparent;
    color: var(--white);
    &:hover {
      color: var(--dark-bg);
    }
  }
  button:first-child {
    padding: 0 10px !important;
    font-size: 2rem;
  }
  button:last-child {
    padding: 0 10px !important;
    font-size: 2rem;
  }
}
