.degen-header img {
  width: 250px;
  height: 68px;
  margin: auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.degen-header h1 {
  font-size: 1.5em;
  margin-top: 4em;
}

#btn-connect,
#btn-disconnect {
  margin-top: 10px;
}
#nav h4 {
  margin-top: 15px;
}

#nav {
  padding: 15px 0px;
}

#btn-change,
#btn-transfer {
  margin-top: 15px;
}

.pool-disabled {
  display: none;
}

p, strong, b, span {
  color:white
}


.connect-btn{
  border: none;
  border-radius: 4px;
  background-color: #CC3366;
  padding: 15px 30px;
  color: white;
}

.wallet-btn{
  background-color: #010E1E;
  border: none;
  border-radius: 4px;
  color:white;
  margin-bottom: 5px;

  :hover{
    border: 1px;
    border-color: #F5841F;
  }
}

.balance-div{
  background: linear-gradient(180deg, #000D1E 31.72%, #002859 100%);
  border-radius: 16px;
  padding-top: 20px;
  width: 30%;
}

.provider-modal{
  .modal-content{
    background: transparent;

    .provider-content{
      background:  linear-gradient(180deg, #000D1E 31.72%, #002859 100%);
      border-radius: 10px;
    }
  }
}

.claim-btn {
  background-color: #18AA00;
  border: none;
  border-radius: 15px;
  color:white;

  :hover{
    border: 1px;
    border-color: #63ff5d;
  }
}

.pools-grid{
  border-radius: 16px;
  background:  linear-gradient(180deg, #000D1E 31.72%, #002859 100%);
  border: none;
  --rdg-header-background-color: transparent;
  --rdg-background-color:transparent;
  color: white;
  --rdg-row-hover-background-color: #002859;
  
  .rdg-cell{
    border-inline-end: transparent;
    border-block-end: 1px solid #00316F;
  }
}

.current-pool-panel{
  border-radius: 16px;
  background:  linear-gradient(180deg, #000D1E 31.72%, #002859 100%);
  color: white
}

.gold{
  color: #FAA80A;
}

.green{
  color: #18AA00;
}

.grey{
  color: #868B90;
}