.auth-container {
  background-color: black;
  padding: 2rem 4rem !important;
  text-align: center;

  z-index: 120;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 450px !important;
  margin: 0 auto !important;
  .header {
    margin: 1rem 0 !important;
    h2 {
      font-weight: 900;
    }
  }
  p {
    font-size: 16px;
    color: var(--dark-bg);
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: none;
  }
  .wallet-provider-list {
    display: flex;
    flex-direction: column;

    button {
      color: black;
      padding: 10px 30px !important;
      border: transparent;
      margin-bottom: 5px !important;
      height: 40px;

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        object-fit: contain;
        height: 100%;
        margin-right: 10px !important;
      }
      &:hover,
      &:focus {
        color: gold;
      }
    }
  }
}
